<ion-content [fullscreen]="true">
  <div class="main-bg-box">
    <div class="img-div">
      <img src="../../assets/icon/logo.webp" alt="">
    </div>
     <!-- Section-1 -->
     <div class="section-1">
      <p>Log in  Facial Products</p>
     </div>
     <!-- section-2 -->
    <div class="section-2">
      <div class="main-div">
        <!-- <p class="p1">Enter phone number</p> -->
        <div class="input-div">
           <ion-select placeholder="India">
             <ion-select-option value="apple">Colombia</ion-select-option>
             <ion-select-option value="banana">Morocco</ion-select-option>
             <ion-select-option value="orange">India</ion-select-option>
             <ion-select-option value="orange">Thailand</ion-select-option>
             <ion-select-option value="orange">Egypt</ion-select-option>
             <ion-select-option value="orange">Mexico</ion-select-option>
             <ion-select-option value="orange">Ghana</ion-select-option>
           </ion-select>
        </div>
        <div class="div2">
         <!-- <div class="code-div"><p class="code">+91</p></div> -->
         <div class="input-div2">
          <ion-select value="apple">
            <ion-select-option value="apple">+91</ion-select-option>
            <ion-select-option value="banana">+1</ion-select-option>
            <ion-select-option value="orange">+48</ion-select-option>
            <ion-select-option value="orange">+84</ion-select-option>
            <ion-select-option value="orange">+58</ion-select-option>
            <ion-select-option value="orange">+44</ion-select-option>
            <ion-select-option value="orange">+66</ion-select-option>
          </ion-select>
       </div>
         <div>
             <ion-input placeholder="Phone number"></ion-input>
         </div>
        </div>
        <small class="small-tag ion-text-center">We'll call or text you to confirm your number. Standard message and data rates apply.</small>
        </div>

       <div class="btn-div">
        <ion-button expand="block" routerLink="/otp">Login</ion-button>
      </div>
    </div>

    <!-- horizontal line -->
    <div class="hr-line">
      <h5 class="hr-lines">or</h5>
    </div>


    <!-- continue phone no. -->
  <div class="continue-no" routerLink="/continue-email">
    <div class="border-div">
      <div class="main">
        <div>
          <ion-icon name="mail-open-outline" class="phone-icon"></ion-icon>
        </div>
        <div>
            <p class="p1"> Signup with Email</p>
            <!-- <p class="p2"></p> -->
        </div>
      </div>
    </div>
  </div>
    <!-- continue with Google -->
  <!-- <div class="continue-google">
    <div class="border-div">
      <div class="main">
        <div>
          <ion-icon name="logo-google" class="phone-icon"></ion-icon>
        </div>
        <div>
            <p class="p1"> Continue with Google </p>
        </div>
      </div>
    </div>
  </div> -->

    <!-- continue with facebook -->
    <!-- <div class="continue-fb">
      <div class="border-div">
        <div class="main">
          <div>
            <ion-icon name="logo-facebook" class="phone-icon"></ion-icon>
          </div>
          <div>
              <p class="p1"> Continue with Facebook </p>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="continue-fb">
      <div class="border-div">
        <div class="main">
          <div>
            <ion-icon name="logo-apple" class="phone-icon"></ion-icon>
          </div>
          <div>
              <p class="p1"> Continue with Apple </p>
          </div>
        </div>
      </div>
    </div> -->
    </div>


  </ion-content>
