*{
    font-family: var(   --poppins-font-family);
}
ion-header{
    .header-tool{
       --background:var( --app-background);
        padding-left: 15px;
        padding-right: 15px;
        .header-div{
            display: flex;
            justify-content: space-between;
            align-items: center;
            p{
                color: black;
                font-weight: 600;
            }
            ion-icon{
                font-size: 25px;
                color: black;
            }
        }
    }
}
ion-content{
    .main-div{
        min-height: 100vh;
        background: var(--app-background);
        padding-top: 20px;
        padding-bottom: 20px;
        .section-1{
            height: 200px;
            width: 90%;
            border-radius: 15px;
            box-shadow: 0 0 10px 1px #b6b6b6;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;

            ion-icon{
                font-size: 50px;
                color: black;
            }
            p{
                font-size: 22px;
                color: black;
                font-weight: 700;
                margin: 0;
                margin: 5px;
            }
            span{
                font-size: 16px;
                color: black;
            }
        }
        .section-2{
            display: flex;
            flex-direction: column;
            p{
                font-size: 19px;
                color: black;
                font-weight: 700;
                margin: 0;
                margin: 5px;
                padding: 0;
            }
            span{
                font-size: 14px;
               color: black;  
                 margin-top: 10px;
               margin-bottom: 10px;
           

            }
            ion-button{
                --background: transparent;
                border: 1px solid gray;
                color: black;
                border-radius: 10px;
                font-weight: 600;
                overflow: hidden;
                width: 40%;
                font-size: 12px;
                text-transform: capitalize;
                font-weight: 700;
                // margin-top: 5px;
            
            }
        }
        hr{
            border-bottom: 1px solid #b6b6b6;
            width: 90%;
            text-align: center;
            margin-top: 2rem;
        }
        .section-3{
            p{
                font-size: 19px;
                color: black;
                font-weight: 700;
                margin: 0;
                margin: 5px;
                padding: 0;

            }
            span{
                font-size: 13px;
                color: black;
                margin-top: 10px;
                margin-bottom: 10px;
                text-align: justify;
            }
            ion-button{
                --background: var(--btn-bg);
                color: white;
                text-transform: capitalize;
                margin-top: 1.5rem;
            }
        }
    
    }
}
ion-modal{
    ion-header{
        background:var(--app-background);
        .header{
            border-bottom: 1px solid gray;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            ion-icon{
                font-size: 25px;
                color: black;
                position: absolute;
                left: 15px;
            }
            p{
                margin: 0;
                color: black;
                font-size: 16px;
                font-weight: 500;
            }
        }
    }
    ion-content{
        --background:var(--app-background);
        .main-div{
           
            .modal-section-1{
                display: flex;
                justify-content: center;
                align-items: center;
                 
                    .circle{
                        height: 150px;
                        width: 150px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: relative;
                        background-color: black;
                        border-radius: 50%;
                        ion-icon{
                            font-size: 55px;
                            color: rgb(255, 255, 255);
                        }
                        .add{
                            height: 30px;
                            width: 80px;
                            border-radius: 10px;
                            background-color: rgb(211, 211, 211);
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            gap: 5px;
                            position: absolute;
                            bottom: -15px;
                            ion-icon{
                                font-size: 22px;
                                color: rgb(0, 0, 0);
                            }
                            span{
                                font-size: 15px;
                                color: black;
                                font-weight: 600;
                            }
                        }
                    }
               
            }
            .modal-section-2{
                margin-top: 25px;
                padding: 10px;
                p{
                    font-size: 18px;
                    color: black;
                    font-weight: 600;
                    margin: 0;
                }
                span{
                    color: var( --small-tag);
                    font-size: 13px;
                    margin-top: 5px;
                    text-align: justify;
                }
            }
            .modal-section-3{
                    display: flex;
                    justify-content: start;
                    align-items: center;
                    border-bottom: 1px solid rgb(189, 189, 189);
                    gap: 15px;     
                    padding: 10px;        
                    .language-div{
                        display: flex;
                        justify-content: start;
                        align-items: center;
                        gap: 10px;
                        ion-icon{
                            color: black;
                            font-size: 25px;
                        }
                        ion-item{
                            --background:var( --app-background);
                            color: black;
                        }
                    }
                  
                 
            }
            .btn-div{
                padding-top: 15px;
                padding-bottom: 15px;
                ion-button{
                    --background: black;
                    color: white;
                    font-size: 13px;
                    font-weight: 600;
                    --border-radius: 5px;
                    // width: 90%;
                }
            }
        }
       

    }
    
}