<ion-header [translucent]="true">
  <ion-toolbar class="header-tool">
  <div class="header-div">
    <ion-icon name="arrow-back-outline" routerLink="/payment-payouts"></ion-icon>
    <div>
      <p>Add New Address</p>
    </div>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-div">
  
      <!-- section-3 -->
      <div class="section-3">
        <div class="full-name">
          <ion-item lines="none">
            <ion-input placeholder="Full Name" type="text"></ion-input>
          </ion-item>         
         </div>
    
         <div class="div2 ion-margin">
          <!-- <div class="code-div"><p class="code">+91</p></div> -->
          <div class="input-div2">
           <ion-select value="apple">
             <ion-select-option value="apple">+91</ion-select-option>
             <ion-select-option value="banana">+1</ion-select-option>
             <ion-select-option value="orange">+48</ion-select-option>
             <ion-select-option value="orange">+84</ion-select-option>
             <ion-select-option value="orange">+58</ion-select-option>
             <ion-select-option value="orange">+44</ion-select-option>
             <ion-select-option value="orange">+66</ion-select-option>
           </ion-select>
        </div>
          <div>
              <ion-input placeholder="Phone number"></ion-input>
          </div>
         </div>
         <!-- section-2 -->
        <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Email Id" type="email"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Apartment Name" type="text"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Street Name 1 *" type="text"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Street Name 2" type="text"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Pincode *" type="text"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Area" type="text"></ion-input>
          </ion-item>         
         </div>
         <div class="section-2">
          <ion-item lines="none">
            <ion-input placeholder="Lancmark *" type="text"></ion-input>
          </ion-item>         
         </div>    
      </div>
      <div class="button-div">
        <ion-button expand="block">Continue</ion-button>
      </div>
  </div>
</ion-content>