<ion-content [fullscreen]="true">
 <div class="main-div">
  <!-- section-1 -->
  <div class="section-1">
    <swiper-container [loop]="true" [pagination]="true">
      <swiper-slide>
        <div class="img-div">
          <img src="../../../assets/images/img 1.jpg" alt="" >
          
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="img-div">
          <img src="../../../assets/images/carpenter.jpg" alt="">
          
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="img-div">
          <img src="../../../assets/images/clean 1.jpg" alt="" >
          
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="img-div">
          <img src="../../../assets/images/electric 1.jpg" alt="" >
          
        </div>
      </swiper-slide>
      <swiper-slide>
        <div class="img-div">
          <img src="../../../assets/images/washing 1.avif" alt="" >
          
        </div>
      </swiper-slide>
    </swiper-container>
  <div class="back" (click)="goBack()">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </div>
   <div class="share">
    <ion-icon name="share-social-outline" class="share-icon"></ion-icon>
   </div>
   <div class="heart">
    <ion-icon name="heart-outline"></ion-icon>
   </div>
 </div>
 <!-- section-2 -->
 <div class="section-2 ion-margin">
  <h4>6BHK Sea-facing Pool Villa | Lawn | Akshi Beach</h4>
  <div class="div1">
    <ion-icon name="star"></ion-icon>
    <span>New Akshi, Maharastra,India</span>
  </div>
  <hr>
 </div>
 <!-- section-3 -->
 <div class="section-3 ion-margin">
<div class="div1">
  <h6>Only 20 hours left to book. <span>The host will stop accepting bookings for your dates soon.</span></h6>
  <div>
    <ion-icon name="time-outline"></ion-icon>
  </div>
</div>
  <hr>
 </div>
  <!-- section-4 -->
  <div class="section-4 ion-margin">
    <div class="div1">
    <h6>Entire villa hosted by Parth</h6>
    <div>
      <ion-icon name="person-outline"></ion-icon>
    </div>
    </div>
    <span>16+ guests . 6 bedrooms . 6 beds . 5.5 baths</span>
    <hr>
   </div>
   <!-- section-5 -->
    <div class="section-5 ion-margin">
      <div class="div1">
        <ion-icon name="bed-outline"></ion-icon>
      <div>
        <h6>Dedicated workspace</h6>
      <span>A common area with wifi that's well-suited for working.</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="reader-outline"></ion-icon>
      <div>
        <h6>Self check-in</h6>
      <span>You can check in with the building staff & Rooms.</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="water-outline"></ion-icon>
      <div>
        <h6>Dive right in</h6>
      <span>This is one of the few places in the area wih a pool.</span>
      </div>
      </div>
     
      <hr>
     </div>
     <!-- section-6 -->
     <div class="section-6 ion-margin">
      <h4>What this place offers</h4>
      <div class="div1">
        <ion-icon name="image-outline"></ion-icon>
      <div>
      <span>Sea view</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="fast-food-outline"></ion-icon>
      <div>
      <span>Kitchen</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="wifi-outline"></ion-icon>
      <div>
      <span>Wifi</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="storefront-outline"></ion-icon>
      <div>
      <span>Dedicated workspace</span>
      </div>
      </div>
      <div class="div1">
        <ion-icon name="alarm-outline"></ion-icon>
      <div>
      <span>Smoke alarm</span>
      </div>
      </div>
      <div class="div2">
        <ion-button expand="block">Show all 41 amenties</ion-button>
      </div>
     </div>
 </div>
 <!-- footer content -->
 <div class="footer ion-padding">
 <div>
  <p>$649 <span class="span">night</span></p>
  <span>Aug 18-23</span>
 </div>
  <div>
    <ion-button routerLink="/reserve">Reserve</ion-button>
  </div>
</div>
</ion-content>
