*{
    font-family: var(  --poppins-font-family);
}
ion-header{
    .header-tool{
        --background: var(  --app-background);
        padding-left: 10px;
        .header-div{
            display: flex;
            justify-content: start;
            align-items: center;
            gap: 15px;
            ion-icon{
                font-size: 25px;
                color: black;
            }
            p{
                color: black;
                font-size: 16px;
                font-weight: 500;
            }
          
        }
    }
}
ion-content{
    .main-div{
        min-height: 100vh;
        background:var(  --app-background);
        padding-bottom: 10px;
         padding-top: 10px;
      
        // section-1
        .section-1{
            text-align: center;
         
            background:var( --app-bg);
            img{
                height: 150px;
                mix-blend-mode: darken;
            }
          
        }
        .section-2{
            padding-left: 15px;
            padding-right: 15px;
            .add-payment-h4{
                color: black;
                font-size: 19px;  
                font-weight: 700;  
                margin-top: 7px; 
                margin-bottom: 5px;           
            }
            span{
                color:var( --small-tag);
                font-size: 12px;
            }
            p{
                font-size: 13px;
                color:var( --small-tag);
            }
        }
        .section-3{
            padding-left: 15px;
            padding-right: 15px;
            h6{
                color: black;
                font-weight: 600;
            }
            p{
                font-size: 13px;
                color:var( --small-tag);
            }
            li{
                font-size: 13px;
                color:var( --small-tag);
                padding-top: 8px;
            }

        }
   
       
    }
}