<ion-header>
  <ion-toolbar class="header-tool">
  <div class="header-div">
    <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
    <div>
      <p>Terms & Policies</p>
    </div>
  </div>
  </ion-toolbar>
</ion-header>
 
<ion-content>
  <div class="main-div">

      <!-- section-1 -->
      <div class="section-1">
        <img src="../../../assets/images/about-app img.png" alt="">
      </div>     
      <div class="section-2">
        <h4 class="add-payment-h4">Terms & Conditions</h4>
        <span>Feb 15,2022</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>

      </div>
      <div class="section-2">
        <h4 class="add-payment-h4">Privacy Policy</h4>
        <span>Dec 02,2022</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>

      </div>
      <div class="section-2">
        <h4 class="add-payment-h4">Source Licenses</h4>
        <span>Dec 02,2022</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>

      </div>
      <div class="section-3">
        <h6>What is the Airbnb?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <h6>What is ShareTheMeal?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <h6>How can i find a Challenge?</h6>
        <ul>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum eum aspernatur, dolore voluptate consequuntur, corporis explicabo s quos accusantium eius?</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur ipsam atque consequatur quo rerum.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur ipsam atque consequatur quo rerum.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur ipsam atque consequatur quo rerum.</li>
        </ul>       
        
        <h6>What is your goal?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <h6>How do I know financial information is protected?</h6>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, temporibus tempora. Debitis, voluptatum aliquam nisi quia sint non esse culpa omnis sed, qui molestiae pariatur impedit! Quas quidem officia soluta.</p>
     
        <h6>What is my Airbnb?</h6>
        <ul>
          <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum eum aspernatur, dolore voluptate.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur .</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur .</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem rem libero natus ad pariatur .</li>
        </ul>
      </div>
  </div>
   
</ion-content>
