<ion-header>
  <ion-toolbar class="header-tool">
  <div class="header-div">
    <ion-icon name="arrow-back-outline" (click)="goBack()"></ion-icon>
  </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
    <div class="section-1">
      <h2>Notifications</h2>
      </div>
      <div class="section-2">
        <ion-icon name="notifications-outline"></ion-icon>
        <h5>No notifications yet</h5>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat iusto laudantium.</p>
      </div>
  </div>
</ion-content>
