<ion-header>
  <ion-toolbar>
    <!-- <ion-title>Homepage</ion-title> -->
    <div class="header-bg-box">
      <div class="img-bg-box">
        <!-- <ion-icon name="arrow-back-outline" routerLink="/"></ion-icon> -->
        <h2>My Orders</h2>
      </div>
      <div class="threeicon">
        <!-- <ion-icon class="icon-value" name="notifications-outline"></ion-icon>
        <ion-icon class="icon-value" name="bag-outline"></ion-icon> -->
        <ion-icon class="icon-value" name="heart-outline" routerLink="/reserve"></ion-icon>     
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="main-div">
   <!-- section-1 -->
   <div class="section-1">
    <img src="../../../assets/icon/pack3.webp" alt="" height="80px">
     <div style="padding: 5px;">
       <span>Delivered on Sep 27</span>
       <p>No Side effect & Herbal Product  </p>
     </div>
     <ion-icon name="chevron-forward-outline"></ion-icon>
   </div>
   <div class="section-1">
    <img src="../../../assets/icon/pack2.webp" alt="" height="80px">
     <div style="padding: 5px;">
       <span>Delivered on Sep 27</span>
       <p>No Side effect & Herbal Product  </p>
     </div>
     <ion-icon name="chevron-forward-outline"></ion-icon>
   </div>
   <div class="section-1">
    <img src="../../../assets/icon/lotion3.jpg" alt="" height="80px">
     <div style="padding: 5px;">
       <span>Delivered on Sep 27</span>
       <p>No Side effect & Herbal Product  </p>
     </div>
     <ion-icon name="chevron-forward-outline"></ion-icon>
   </div>
   <div class="section-1">
    <img src="../../../assets/icon/lotion2.jpg" alt="" height="80px">
     <div style="padding: 5px;">
       <span>Delivered on Sep 27</span>
       <p>No Side effect & Herbal Product  </p>
     </div>
     <ion-icon name="chevron-forward-outline"></ion-icon>
   </div>
   <div class="section-1">
    <img src="../../../assets/icon/pack2.webp" alt="" height="80px">
     <div style="padding: 5px;">
       <span>Delivered on Sep 27</span>
       <p>No Side effect & Herbal Product  </p>
     </div>
     <ion-icon name="chevron-forward-outline"></ion-icon>
   </div>
  
  </div>
 </ion-content>
<app-footer></app-footer>