*{
    font-family: var(--poppins-font-family);
}

ion-header{
    .header-tool{
        --background: #f5f5f5;
    }  
 .header{  
       .back-arrow{
            color: black;
            font-size: 1.3rem;
            padding-left: 15px;
            
        }
    }
   }

   ion-content{
    .main-div{
        background: var(--app-background);
        min-height: calc(100vh - 60px);
        .section-1{
            padding-top: 20px;
            padding-left: 15px;
            h4{
                color: black;
                font-weight: 600;
                margin: 0;
            }
        }
        .section-2{
            margin: 15px;
            .main{
               
                border-radius: 10px;
                background-color: #f5f5f5;
                padding-top: 5px;
                .inner{
                    border: 1px solid gray;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    overflow: hidden;
                    ion-item{
                        --background: #f5f5f5;
                        font-size: 14px;
                        ion-input{
                            color: black;
                        }
                    }
                }
                .inner2{
                    border-left: 1px solid gray;
                    border-right: 1px solid gray;
                    border-bottom: 1px solid gray;
                    overflow: hidden;
                   border-bottom-left-radius: 10px;
                   border-bottom-right-radius: 10px;
                   ion-item{
                    --background: #f5f5f5;
                    font-size: 14px;
                    ion-input{
                        color: black;
                    }
                }
                }
            }
            small{
                color: var( --small-tag);
               
            }
        }
        .section-3{
            margin: 15px;
            .main{              
                border-radius: 10px;
                background-color: #f5f5f5;
                padding-top: 5px;
                .inner{
                    border: 1px solid gray;
                    border-radius: 10px;
                    overflow: hidden;
                    ion-item{
                        --background: #f5f5f5;
                        font-size: 14px;
                        ion-input{
                            color: black;
                        }
                        p{
                            font-size: 13px;
                            color: black;
                            font-weight: 600;
                        }
                    }
                }
            }
            small{
                color: var( --small-tag);
               
            }
        }
        .terms{
            margin: 15px;
            p{
                font-size: 13px;
                color: black;
                padding-left: 5px;
                span{
                    color: gray;
                    font-weight: 500;
                    text-decoration: underline;
                }
            }
        }
        .btn{
            ion-button{
                margin: 15px;
                --border-radius: 10px;
                font-weight: 800;
                font-size: 0.8rem;
                --background: var(--btn-bg);
                color: white;
            
            }
        }
    }
   }