*{
    font-family: var( --poppins-font-family);
}
ion-content{
    .main-div{
        height: 100%;
        background-color: var(--app-background);
        padding-left: 15px;
        padding-right: 15px;
        .section-1{
            padding-top: 1rem;
            h2{
                color: black;
                font-weight: 600;
            }
          
        }
        hr{
            border-bottom: 1px solid rgb(173, 173, 173);
            margin-top: 1.5rem;
        }
        .section-2{
            h4{
                color: black;
                font-weight: 600;
                padding-top: 1.3rem;
            }
            p{
                color: var(--small-tag);
                font-size: 14px;
                text-align: justify;
            }
            ion-button{
                --background: transparent;
                border: 1px solid gray;
                color: black;
                border-radius: 10px;
                font-weight: 600;
                overflow: hidden;

            }
        }
        .section-3{
            p{
                font-size: 15px;
                color: black;
                span{
                    color: var(--small-tag);
                    font-weight: 600;
                    font-size: 13px;
                    text-decoration: underline;
                }
            }
        }
    }
    flex: 1;
}
app-footer{
    height: 60px;
}