<ion-content [fullscreen]="true">
  <div class="main-div">
    <div class="section-1">
      <h2>Trips</h2>
      </div>
      <hr>
      <div class="section-2">
        <h4>No trips booked ...yet?</h4>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat iusto laudantium.</p>
       <ion-button routerLink="/main-home">Start Searching</ion-button>
      </div>
      <hr>
      <div class="section-3">
        <p>Can't find reservation here? <span>Visit the Help Centre</span></p>
      </div>
  </div>
</ion-content>
<app-footer></app-footer>