<ion-header [translucent]="true">
  <ion-toolbar class="header-tool">
  <div class="header-div">
    <ion-icon name="arrow-back-outline" routerLink="/profile"></ion-icon>
    <div>
      <p>Address</p>
    </div>
  </div>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="main-div">
    <div class="section-1 ion-margin" routerLink="/add-address">
      <p>Add New Address</p>
      <div>
        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>
    </div>
  </div>
</ion-content>
